.settings/
bin/
obj/
*~
*.deb
*.orig
*.so
*.so.*
*.o
Makefile
makefile
*~
*.pro.user
moc_*
qrc_resources.cpp
*.deb
*.o
*.swp
*.pyc
.DS_Store
.cdtproject
.settings
*.pdf
*.idea
cmake-build-debug*
build/*
*.user
*~
*.o
*.bak
*.tmp
*.d
*.orig
*.zip
*.rar
*.bz2
*.swp
/doc/*.pdf
*.deb
.DS_Store
*.stackdump
*.tmp
*.d
*.4ct
*.4tc
*.css
*.html
*.idv
*.lg
*.xref
.settings/*
*.exe
*.dll
.release
.cdtproject
